<!DOCTYPE html>
<html lang="en" id="home-html">
	<head>
		<title>{{{detag (or page.title 'Untitled')}}}{{#if site.title}} {{/if}}</title>
		{{> home-head}}
	</head>
  	<body class="home">
  		{{> oss-banner}}
		<article id="page-content" class="home-content">

			<header>
				<span>
					<img class="homepage-logo" src="{{uiRootPath}}/img/cloudstate-reverse.svg" alt="Cloudstate Logo" title="Cloudstate Logo">
					<h1>Stateful serverless on Kubernetes</h1>
				</span>
			</header>
			<nav class="home-toc">
				<ul>
					<li><a href="docs/current/index.html">{{> cloudstate-icon-reverse-flush-svg}}Documentation</a></li>
					<li><a href="https://github.com/lightbend/cloudflow">{{> github-white-svg}}Contribute</a></li>
					<li><a href="https://discuss.lightbend.com/c/cloudflow">{{> discuss-white-svg}}Discuss</a></li>
                    <li><a href="https://gitter.im/lightbend/cloudflow">{{> gitter-white-svg}}Gitter</a></li>
				</ul>
			</nav>
			<main class="content">
				<section>
					{{{page.contents}}}
				</section>
				
			</main>
		</article>
		<footer class="footer">
			<img class="cloudstate-icon" src="{{uiRootPath}}/img/cloudstate-icon-flush-full-color.svg">
			{{> footer-privacy}}
		</footer>
		{{> footer-analytics}}
  </body>
</html>
